<div class="" >
    <div class="flex items-center mb-6">
        <svg class="h-8 w-8 text-indigo-500 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
        </svg>
        <h4 class="font-semibold ml-3 text-lg">Lista de tareas</h4>
    </div>
    <article class="flex items-start w-2/3">  
        <div class="min-w-0 relative flex-auto">
          <h2 class="font-semibold text-slate-900 truncate pr-20">Tarea titulo</h2>
          <dl class="mt-2 flex flex-wrap text-sm leading-6 font-medium">
            <div class="absolute top-0 right-0 flex items-center space-x-1">
                
                <span class="inline-block bg-green-500 text-white rounded-full px-2 py-1 text-sm font-semibold">DONE</span>

              </div>
            <div class="ml-2">
                <dt class="sr-only">Year</dt>
                <dd>Descripcion</dd>
              </div>
          </dl>
        </div>
      </article>

</div>